.grid-items
  %a.grid-item{:href => "/"}
    #show-logo
      = render 'main/logo'
      %h1
        Postcode: 
        =@postcode.postcode
      %p
        Borough: 
        =@postcode.borough.name
      %p Hipster Ranking: 
      - if @postcode.ranking > 0
        %p= "This is a hipster area!"
      - elsif @postcode.ranking = 3
        %p= "Yeeeeaaahh - this area is really hipster!"
      - else 
        %p= "This area is not hipster at all!"
  .grid-item.grid-item-big.grid-item-image.small-padding
    %img{:alt => "", :src => "/instagram.png"}
      %h1 Does this look Hipster to you?
      -@instagram.each do |instagram|
        %p= image_tag instagram["images"]["low_resolution"]["url"]
        %p= instagram["tags"].join(", ")
  .grid-item.grid-item-big.small-padding
    %img{:alt => "", :src => "https://s3.amazonaws.com/uploads.hipchat.com/39979/738355/lKJ0C3dijXwSrSp/foursquare-logo_01.png"}
      -@clients.each do |client|
        .foursquare_info
          %h1= client.name
          %p= client.categories.first.name
          %p
            = client.location.distance
            meters away
          %p
            = client.stats.checkinsCount
            check ins
  .grid-item
    %img{:alt => "", :src => "https://s3.amazonaws.com/uploads.hipchat.com/39979/738355/6VYKUkuNvpGkC8J/zoopla.png"}
      %h1.zoopla-text Zoopla Info
      %p.zoopla-text
        Hipsters have caused this areas property value to change by #{@postcode.growth_average}% in the last 5 years.
      %p
        = 'Hipsters have caused this areas property vaule to change by  '
        = @postcode.growth_average 
        ='% of the last 5 years.'
  .grid-item
    %img{:alt => "", :src => "/coffee.png"}
      %h1 Big Chain Coffee Shops
      %p 
        =@postcode.count_high_street_coffee
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "/bike.png"}
      .grid_split
        %h1 Bike Shops (Corporate)
        %p 
          =@postcode.check_place(types: "bicycle_store").count
      .grid_split
        %h1 Independent  Bike Shops
        %p
          =@postcode.check_place(types: "bicycle_store").count - @postcode.count_high_street_bikes
  .grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "/vegan.png"}
      %h1 Vegan Spots
      %p
        =@postcode.check_place(types: "restaurant", keyword: "vegan").count
  .grid-item.grid-item-big.full-width
    %img{:alt => "", :src => "/json_banks_e8_3sh.png"}
    = render partial: 'borough', locals: {borough: @postcode.borough}
