%h1=@postcode.postcode
%h2=@postcode.borough.name


%p
  Big Chain Coffee:
  =@postcode.count_high_street_coffee

%p
  Bike Shops:
  =@postcode.check_place(types: "bicycle_store").count
%p
  Independent Bike Shops:
  =@postcode.check_place(types: "bicycle_store").count - @postcode.count_high_street_bikes

.zoopla_container
  %h3 Zoopla Info
  = 'Hipsters have caused this areas property vaule to change by  '
  = @postcode.growth_average 
  ='% of the last 5 years.'

-@clients.each do |client|
  .foursquare_container
    %h3 Foursquare Info
    %h4= client.name
    %p= client.categories.first.name
    %p
      = client.location.distance
      meters away
    %p
      = client.stats.checkinsCount
      check ins
